name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  backend-security:
    name: Backend Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Backend Docker Image
        run: |
          docker build -f Dockerfile.backend -t nuanyangyang-backend:${{ github.sha }} .

      - name: Run Trivy Vulnerability Scanner (Backend)
        uses: aquasecurity/trivy-action@master
        with:
          cache: 'false'
          image-ref: 'nuanyangyang-backend:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

  frontend-security:
    name: Frontend Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Frontend Docker Image
        run: |
          docker build -f Dockerfile.frontend -t nuanyangyang-frontend:${{ github.sha }} .

      - name: Run Trivy Vulnerability Scanner (Frontend)
        uses: aquasecurity/trivy-action@master
        with:
          cache: 'false'
          image-ref: 'nuanyangyang-frontend:${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
